<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Add Commitment Page</title>
</head>
<body>
<h1>Welcome
    <span th:text="${#authentication.getPrincipal().getUsername()}"></span><br>
    to the Challenger
</h1>

<h1>Add Commitment Page</h1>
<h2>List of commitments</h2>
<table class="table table-striped table-sm table-bordered table-hover">
    <thead>
    <th>Id</th>
    <th>Description</th>
    <th>Date</th>
    <th>Challenge Name</th>
    <th>Done?</th>
    <th>Set it done!</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tr th:each="commitment : ${commitments}">
        <td th:text="${commitment.getId()}"></td>
        <td th:text="${commitment.getDescription()}"></td>
        <td th:text="${commitment.getDate()}"></td>

        <td th:text="${commitment.challenge?.getName()}"></td>
        <td th:text="${commitment.user?.getUsername()}"></td>
        <td th:text="${commitment.isDone()}"></td>
        <td>
            <form th:action="'/setCommitmentDone/' + ${commitment.getId()}" method="post">
                <button type="submit">Set done!</button>
            </form>
        </td>
        <td><a th:href="'/editCommitment/' + ${commitment.getId()}">Edit</a></td>
        <td>
            <form th:action="'/delCommitment/' + ${commitment.getId()}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<h2>Create a new commitment</h2>
<form th:action="'/addcommitment/' + ${userId}" method="post">
    <div>
        <label for="descripition">Commitment Description</label>
        <input type="text" id="descripition" name="description"><br>
        <label for="date">Date</label>
        <input type="date" id="date"
               value="2021-01-01"
               min="2021-01-01" max="2025-12-31" name="date"><br>
        <label for="challenge">Choose the challenge: </label>
        <select id="challenge" name="challengeId">
            <option th:each="challenge : ${challenges}" th:value="${challenge.getId()}"
                    th:text="${challenge.getName()}"></option>
        </select>
    </div>
    <button type="submit" class="btn-dark">Submit</button>
</form>

</body>
</html>